@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>E-Learning</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    @Styles.Render( "~/Content/img/favicon.png" );
    @Styles.Render( "~/Content/img/apple-touch-icon.png" );

    <!-- Vendor CSS Files -->
    @Styles.Render( "~/Content/vendor/aos/aos.css" );
    @Styles.Render( "~/Content/vendor/bootstrap/css/bootstrap.min.css" );
    @Styles.Render( "~/Content/vendor/bootstrap-icons/bootstrap-icons.css" );
    @Styles.Render( "~/Content/vendor/boxicons/css/boxicons.min.css" );
    @Styles.Render( "~/Content/vendor/glightbox/css/glightbox.min.css" );
    @Styles.Render( "~/Content/vendor/swiper/swiper-bundle.min.css" );

    <!-- Template Main CSS File -->
    @Styles.Render( "~/Content/css/style.css" );

</head>

<body>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">

        <div class="logo me-auto">
            <h1>
                <a href="#">E-Learning</a>
            </h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
        </div>

        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li>
                    <a class="nav-link scrollto active" href="#hero">Trang chủ</a>
                </li>
                <li>
                    <a class="nav-link scrollto " href="#">Các khóa học</a>
                </li>
                <li>
                    <a class="nav-link scrollto " href="#team">Về chúng tôi</a>
                </li>
                <li>
                    <a class="nav-link scrollto" href="#contact">Thông tin liên hệ</a>
                </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
        <div class="button-login-register">
            @if ( Session["email"] == null ) {
                <a class="nav-link scrollto" href="/login">Đăng nhập</a>
                <a class="nav-link scrollto" href="/register">Đăng ký</a>
            } else {
                <p class="nav-link scrollto" style="margin: 0px">Hello @Session["name"]!</p>
                <a class="nav-link scrollto" href="/logout">Đăng xuất</a>
            }
        </div>
    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center" data-aos="fade-up">
                <div>
                    <h1>E-Learning </h1>
                    <h2>Đi học có trường - Ở nhà có E-Learning</h2>
                    <a href="#about" class="btn-get-started scrollto">Bắt đầu</a>
                </div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="/Content/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

<main id="main">

<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6" data-aos="zoom-in">
                <img src="/Content/img/home1.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 d-flex flex-column justify-contents-center" data-aos="fade-left">
                <div class="content pt-4 pt-lg-0">
                    <h3>Thành tựu tiêu biểu</h3>
                    <p class="fst-italic">
                        Câu chuyện về hành trình của chúng tôi.
                    </p>
                    <ul>
                        <li><i class="bi bi-check-circle"></i> E-Learning đã đạt được 3 triệu thành viên đăng kí trực tuyến.</li>
                        <li><i class="bi bi-check-circle"></i> Xây dựng xong platform adaptive learning.</li>
                        <li><i class="bi bi-check-circle"></i> Thành phố Hà Nội và trung ương hội khuyến học ghi nhận các thành tích.</li>
                    </ul>
                    <p>
                        Chúng tôi cam kết các bạn học sinh sẽ có cho mình những kiến thức hữu ích nhất dù ở bất cứ nơi đâu, bất kì thời gian nào.
                        <p>Đi học có Trường, ở nhà có E-learning !</p>
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Features Section ======= -->
<section id="features" class="features">
    <div class="container">

        <div class="row">
            <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item" data-aos="fade-up">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">
                            <h4>Giáo viên hàng đầu</h4>
                            <p>Nơi quy tụ những giáo viên chuyên môn cao, nhiệt tình, tâm huyết hàng đầu Việt Nam</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">
                            <h4>Video đa dạng, dễ hiểu</h4>
                            <p>Video học trực tuyến dễ hiểu. Các bạn học sinh có thể xem lại bất cứ lúc nào</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">
                            <h4>Bài kiểm tra phù hợp theo từng khóa học</h4>
                            <p>Sau mỗi khóa học, những bài kiểm tra đánh giá năng lực sẽ giúp các bạn học sinh hoàn thiện những điểm yếu một cách dễ dàng.</p>
                        </a>
                    </li>
                    <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-4">
                            <h4>Những kì thi cùng phần thưởng hấp dẫn</h4>
                            <p>Hàng năm sẽ có những kì thi tổng kết cùng phần thưởng hấp dẫn đối với những bạn có thành tích cao</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <figure>
                            <img src="/Content/img/home8.jpg" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <figure>
                            <img src="/Content/img/home7.jpg" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <figure>
                            <img src="/Content/img/home5.jpg" alt="" class="img-fluid">
                        </figure>
                    </div>
                    <div class="tab-pane" id="tab-4">
                        <figure>
                            <img src="/Content/img/home9.jpg" alt="" class="img-fluid">
                        </figure>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Features Section -->
<!-- ======= Team Section ======= -->
<section id="team" class="team">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Chúng tôi</h2>
            <p>- Nhóm 3 -</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-4">
                <div class="member" data-aos="zoom-in">
                    <div class="pic">
                        <img src="/Content/img/team/tung.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Nguyễn Mạnh Tùng</h4>
                        <span>Nhóm trưởng</span>
                        <div class="social">
                            <a href="https://www.facebook.com/NMTung.Socialnetwork">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pic">
                        <img src="/Content/img/team/mon.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Nguyễn Thùy Dương</h4>
                        <span>Thành viên</span>
                        <div class="social">
                            <a href="https://www.facebook.com/ngthuyduong.mon2000/">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="100">
                    <div class="pic">
                        <img src="/Content/img/team/bac.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Lê Nhữ Bắc</h4>
                        <span>Thành viên</span>
                        <div class="social">
                            <a href="https://www.facebook.com/ABboyPD">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="member" data-aos="zoom-in" data-aos-delay="200">
                    <div class="pic">
                        <img src="/Content/img/team/nguyen.jpg" class="img-fluid" alt="">
                    </div>
                    <div class="member-info">
                        <h4>Hoàng Trung Nguyên</h4>
                        <span>Thành viên</span>
                        <div class="social">
                            <a href="https://www.facebook.com/mrlimfo">
                                <i class="bi bi-facebook"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Team Section -->
<!-- ======= F.A.Q Section ======= -->
<section id="faq" class="faq">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Câu hỏi thường gặp ?</h2>
        </div>

        <ul class="faq-list">

            <li>
                <div data-bs-toggle="collapse" class="collapsed question" href="#faq1">Có những khóa học gì? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq1" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Những khóa học theo sát chương trình học tại nhà trường và nâng cao mở rộng với những giáo trình chất lượng, cập nhật mỗi ngày.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq2" class="collapsed question">Chương trình học có quá nặng đối với các em học sinh không ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq2" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Giáo án của chúng tôi luôn phù hợp nhất đối với từng độ tuổi, từng lớp, từng môn theo sát trên lớp và mở rộng theo trình độ của học sinh.
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq3" class="collapsed question">Học vào thời gian nào ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq3" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Để đăng kí khóa học, học sinh tạo cho mình một tài khoản, sau khi thành công, các bạn có thể vào học bất cứ lúc nào, xem lại bài giảng bất cứ lúc nào các bạn muốn ?
                    </p>
                </div>
            </li>

            <li>
                <div data-bs-toggle="collapse" href="#faq4" class="collapsed question">Sau khi hoàn thành khóa học, tôi có thể xem lại kiến thức trong khóa học đã mua không ? <i class="bi bi-chevron-down icon-show"></i><i class="bi bi-chevron-up icon-close"></i></div>
                <div id="faq4" class="collapse" data-bs-parent=".faq-list">
                    <p>
                        Các bạn có thể xem lại các bài giảng, tài liệu ngay cả khi đã hoàn thành khóa học.
                    </p>
                </div>
            </li>


        </ul>

    </div>
</section><!-- End Frequently Asked Questions Section -->
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Liên hệ với chúng tôi</h2>
        </div>

        <div class="row">

            <div class="col-lg-5 d-flex align-items-stretch" data-aos="fade-right">
                <div class="info">
                    <div class="address">
                        <i class="bi bi-geo-alt"></i>
                        <h4>Địa chỉ:</h4>
                        <p>Đại học FPT - Thạch Hòa - Thạch Thất - Hà Nội</p>
                    </div>

                    <div class="email">
                        <i class="bi bi-envelope"></i>
                        <h4>Email:</h4>
                        <p>team3ProjectELearning@gmail.com</p>
                    </div>

                    <div class="phone">
                        <i class="bi bi-phone"></i>
                        <h4>Call:</h4>
                        <p>+84 123456789</p>
                    </div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14898.33353688525!2d105.52288204280563!3d21.009330972719432!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31345b465a4e65fb%3A0xaae6040cfabe8fe!2sFPT%20University!5e0!3m2!1sen!2sus!4v1624905177233!5m2!1sen!2sus" width="460" height="450" style="border: 0;" allowfullscreen="" loading="lazy"></iframe>
                </div>

            </div>

            <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch" data-aos="fade-left">
                <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Tên của bạn</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>
                        <div class="form-group col-md-6 mt-3 mt-md-0">
                            <label for="name">Email</label>
                            <input type="email" class="form-control" name="email" id="email" required>
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <label for="name">Bạn học lớp mấy ?</label>
                        <input type="text" class="form-control" name="subject" id="subject" required>
                    </div>

                    <div class="text-center">
                        <button type="submit">Gửi tin nhắn</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-md-6">
                    <div class="footer-info">
                        <h3>E-Learning</h3>
                        <p>
                            <strong>Đại học FPT</strong> <br>
                            KM29 Đại lộ Thăng Long - Khu CNC Hòa Lạc - Thạch Hòa - Thạch Thất - Hà Nội<br><br>
                            <strong>SĐT:</strong> +1 5589 55488 55<br>
                            <strong>Email:</strong> info@example.com<br>
                        </p>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright
            <strong>
                <span>E-Learning - Team 3</span>
            </strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/scaffold-bootstrap-metro-style-template/ -->

        </div>
    </div>
</footer><!-- End Footer -->

<a href="#" class="back-to-top d-flex align-items-center justify-content-center">
    <i class="bi bi-arrow-up-short"></i>
</a>

<!-- Vendor JS Files -->
<script src="/Content/vendor/aos/aos.js"></script>
<script src="/Content/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/Content/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/Content/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/Content/vendor/php-email-form/validate.js"></script>
<script src="/Content/vendor/swiper/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/Content/script/main.js"></script>

</body>

</html>