<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/admin/index.css">
    <link rel="stylesheet" href="~/Content/css/admin/courseDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Edit course | Admin | E-Learning</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
    <div id="body">
        <div class="left-bar">
            <div>
                <div class="bar-logo">
                    <img src="~/Content/img/android-chrome-192x192.png" alt="logo" height="40px">
                </div>
                <div class="bar-info">
                    <div class="bar-info-img">
                        <img src="https://img.icons8.com/office/40/000000/user-male-circle.png" />
                    </div>
                    <div class="bar-info-name">
                        @ViewBag.adminName
                    </div>
                </div>
            </div>
            <div class="nav">
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a href="/admin/user">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/ios-glyphs/26/686868/user.png" />
                                </div>
                                <div class="nav-bar-name">
                                    User
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/course" class="active-link-nav">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/ios-filled/26/686868/courses.png" />
                                </div>
                                <div class="nav-bar-name">
                                    Course
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a href="/admin/logout">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/material-sharp/26/686868/shutdown.png" />
                                </div>
                                <div class="nav-bar-name">
                                    Logout
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-bar">
            <div class="heder-body">
                <div class="fix-width">
                    <a href="/admin/course">
                        <div class="back-logo">
                            <img src="https://img.icons8.com/material-sharp/35/000000/circled-chevron-left.png" />
                            <span>Back</span>
                        </div>
                    </a>
                </div>
                <div class="header-content">
                    <div>Edit course</div>
                </div>
                <div class="header-search"></div>
            </div>
            <div class="main-body">
                <div class="detail-course">
                    <div class="course-img">
                        <img id="image-overlay"
                             src="@ViewBag.image"
                             alt="image course" width="100%">
                    </div>
                    <div class="course-info">
                        <div class="course-el">
                            @if (ViewBag.message == true)
                            {
                                <div style="position: fixed; bottom: 10px; right: 10px" class="alert alert-success alert-dismissible fade show" role="alert">
                                    Your changes have been saved!!!
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            else if (ViewBag.message == false)
                            {
                                <div style="position: fixed; bottom: 10px; right: 10px" class="alert alert-danger alert-dismissible fade show" role="alert">
                                    Update course fail because the course's name has been existed or input information invalid!
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            @using (Html.BeginForm("UpdateCourse", "AdminCourse", FormMethod.Post))
                            {
                                <div class="top">
                                    <div>
                                        <label for="id">Course's ID: </label>
                                        <input type="text" id="id" name="id" value="@ViewBag.courseID" readonly>
                                    </div>
                                    <br>
                                    <div>
                                        <label for="name">Course's Name: </label>
                                        <input type="text" name="name" id="name" value="@ViewBag.courseName" placeholder="Enter course's name" required>
                                    </div>
                                    <br>
                                    <div>
                                        <label for="desc">Description: </label><br>
                                        <textarea style="width:100%" name="description" id="description" cols="100%" rows="10" placeholder="Enter course's description" required>@ViewBag.description</textarea>
                                    </div>
                                    <br>
                                </div>

                                <label for="image">Image: </label>
                                <input type="text" name="image" id="image"
                                       value="@ViewBag.image" placeholder="Copy link image here to check" required>
                                <input type="button" value="Check image" onclick="checkImage()">
                                <br>
                                <br>
                                <button type="submit" class="btn btn-success">Save</button>
                                <button id="deleteButton" class="btn btn-danger">Delete</button>
                            }
                        </div>
                        <div class="course-el">
                            <a class="button-e" id="button-lesson" href="/admin/lesson/@ViewBag.courseID">Lesson</a>
                            <a class="button-e" id="button-quiz" href="/admin/quiz/@ViewBag.courseID">Quiz</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="~/Content/script/courseDetail.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $("#deleteButton").click(function () {
            $.post("/AdminCourse/DeleteCourse",
                {
                    id: "@ViewBag.courseID"
                },
                function (data, status) {
                    if (status === "success") {
                        alert("Delete course successful!")
                        location.replace("/admin/course")
                    } else {
                        alert("Delete course fail!")
                    }

                });
        });
    });
</script>
</html>