<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/vendor/aos/aos.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/Content/css/admin/index.css">
    <link rel="stylesheet" href="~/Content/css/admin/quiz.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Edit quiz | Admin | E-Learning</title>
</head>

<body>
    <div id="body">
        <div class="left-bar">
            <div>
                <div class="bar-logo">
                    <img src="~/Content/img/android-chrome-192x192.png" alt="logo" height="40px">
                </div>
                <div class="bar-info">
                    <div class="bar-info-img">
                        <img src="https://img.icons8.com/office/40/000000/user-male-circle.png" />
                    </div>
                    <div class="bar-info-name">
                        @ViewBag.adminName
                    </div>
                </div>
            </div>
            <div class="nav">
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a href="/admin/user">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/ios-glyphs/26/686868/user.png" />
                                </div>
                                <div class="nav-bar-name">
                                    User
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="/admin/course" class="active-link-nav">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/ios-filled/26/686868/courses.png" />
                                </div>
                                <div class="nav-bar-name">
                                    Course
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-bar">
                    <ul>
                        <li>
                            <a href="/admin/login">
                                <div class="nav-bar-img">
                                    <img src="https://img.icons8.com/material-sharp/26/686868/shutdown.png" />
                                </div>
                                <div class="nav-bar-name">
                                    Logout
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="right-bar">
            <div class="heder-body">
                <div class="header-content">
                    Edit quiz
                </div>
            </div>
            <div class="main-body">
                <form action="" method="GET">
                    <div class="quiz">
                        <div>
                            <h2>Quesion:</h2>
                            <textarea name="question" id="question" rows="4">@ViewBag.question</textarea>
                        </div>
                        <div class="main-answer">
                            <div class="flex-answer">
                                <label class="flex-answer-radio" for="ans1">
                                    <input type="radio" name="trueAns" id="ans1" value="ans1" @ViewBag.checkAnswer1>
                                </label>
                                <div class="flex-answer-content">
                                    <input type="text" name="answer1" id="answer1" placeholder="Answer 1" value="@ViewBag.answer1" required>
                                </div>
                            </div>
                            <div class="flex-answer">
                                <label class="flex-answer-radio" for="ans2">
                                    <input type="radio" name="trueAns" id="ans2" value="ans2" @ViewBag.checkAnswer2>
                                </label>
                                <div class="flex-answer-content">
                                    <input type="text" name="answer2" id="answer2" placeholder="Answer 2" value="@ViewBag.answer2" required>
                                </div>
                            </div>
                            <div class="flex-answer">
                                <label class="flex-answer-radio" for="ans3">
                                    <input type="radio" name="trueAns" id="ans3" value="ans3" @ViewBag.checkAnswer3>
                                </label>
                                <div class="flex-answer-content">
                                    <input type="text" name="answer3" id="answer3" placeholder="Answer 3" value="@ViewBag.answer3" required>
                                </div>
                            </div>
                            <div class="flex-answer">
                                <label class="flex-answer-radio" for="ans4">
                                    <input type="radio" name="trueAns" id="ans4" value="ans4" @ViewBag.checkAnswer4>
                                </label>
                                <div class="flex-answer-content">
                                    <input type="text" name="answer4" id="answer4" placeholder="Answer 4" value="@ViewBag.answer4" required>
                                </div>
                            </div>
                        </div>
                        <button id="button-save" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>